body{
  margin:0;
}
h1 {
  font-size:48px;
  text-align: center;
  text-decoration: none;
  border-bottom:2px solid black;
  padding:10px;
  margin:0;
}
ul {
  font-size:24px;
  font-weight:bold;
  padding:30px;
  border-right:2px solid black;
  width:200px;
  margin:0;
}
a {
  color:black;
  text-decoration: none;
}
h2 {
  font-size:35px;
  font-weight:bold;
  padding:15px;
}
#grid {
  display:grid;
  grid-template-columns:300px 1fr;
}
#grid ul {
  padding-right:25px;
}
#grid #story {
  padding-right:50px;
}
@media(max-width:350px) {
  #grid {
    display:block;
  }
  ul {
    border-right:none;
    border-bottom:2px solid black;
  }
}
